
<div class="row">
    <div class="col-6">
        <h2>Recurring Event</h2>
    </div>
    <div class="col-6">
        <div class="btn-group">
            <div class="btn btn-secondary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Previous
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              Today
            </div>
            <div
              class="btn btn-secondary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Next
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mwl-calendar-month-view
        [viewDate]="viewDate"

        >
      </mwl-calendar-month-view>
    </div>
</div>